/* In a rush! Refactor later! */
em { font-style: italic !important}
strong {font-weight: 700 !important}

/* Default Font */
html, body, * {
  font-family: "Proxima Nova", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
}

/* Headings */
h1, .h1, h1 *,
h2, .h2, h2 *,
h3, .h3, h3 *,
h4, .h4, h4 *,
h5, .h5, h5 *,
h6, .h6, h6 * {
  font-family: "DINCond", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  letter-spacing: 2px;
  margin-bottom: .5em;
  text-transform: uppercase;
}

h1, .h1, h1 * {
  font-size: 9vw;
  font-weight: 700;
  margin: 0;
}

h2, .h2, h2 * {
  font-size: 2.5rem;
  font-weight: 700;
}

h3, .h3, h3 * {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Default <section> spacing */
section { padding: 4rem 0 }

/* Img Fix */
img {
  height: auto;
  width: 100%;
}

/* Unstyle Bootstrap Tables */
.table td,
.table th {
  padding: .125em .75em;
  border: none
}
@media(max-width:767px) {
  .table,
  .table * {
    display: block;
    position: relative;
    width: 100%;
  }

  .table th { border-bottom: 0 }
  .table th:not(:first-of-type) {
    display: inline-block; font-weight: 400 }
  .table th:nth-of-type(2) { width: 40% }
  .table th:nth-of-type(3) { width: 20%;text-align: center }
  .table th:nth-of-type(4) { width: 40%;text-align: right }

  .table tr {
    padding-bottom: .75em;
  }
  .table td:first-of-type {
    display: block;
    width: 100%;
    font-weight: 700;
  }
  .table td:not(:first-of-type) {
    display: inline-block;
    width: calc(100%/3);
  }
  .table td:nth-of-type(3) {text-align: center}
  .table td:nth-of-type(4) {text-align: right }
}
@media(max-width:480px) {
  .table th:not(:first-of-type),
  .table td:not(:first-of-type) {
    display: block;
    width: 100%;
    text-align: left
  }
  .table td:last-of-type {
    margin-bottom: 1em
  }
}

/* Lines to the left and right of Headings */
.lined-heading {
  text-align: center;
  background: -moz-linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%);
  background: -ms-linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #ffffff), color-stop(50%, #000000), color-stop(51%, #000000), color-stop(52%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%);
  background: linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%);
}
.lined-heading span {
  background-color: white;
  padding: 0 .5em;
}

@media(max-width:991px) {
  .reverse-stacked {
    display: flex;
    flex-flow: column-reverse;
  }
}
@media(max-width:767px) {
  #ourprogram-section .col-12 > * {
    margin: 0 auto;
    width: 100%;
    max-width: none;
  }
}

/* Sports Camp Repeated Stuff (keep it slightly DRYer here) */
#scheduling-section p {
  display: flex;
  margin-bottom: .25em
}
#scheduling-section p > span:first-of-type {
  color: #137cac;
  font-weight: 700;
  width: 10em;
}
a.camplink {
  color:black;
  border-bottom:2px solid #f5b742;
  text-decoration:none;
}
a.camplink:hover {
  background-color:#f5b742;
  text-decoration:none;
}
a.camp-enroll-btn {
  border:1px solid rgb(19, 124, 172);
  padding:4px 10px;
  color: rgb(19, 124, 172);
  text-decoration:none;
}
a.camp-enroll-btn:hover {
  background-color: rgb(19, 124, 172);
  color:white;
  text-decoration:none;
}

/* Academic Enrichment Courses Media Queries */
#courses-section .container:nth-of-type(2) {
  column-count: 2
}
#courses-section .container div {
  display: inline-block;
}
@media(min-width:768px) {
  .classes-info .col-md-6:first-of-type {
    border-right: 2px solid #30bd94;
  }
  .classes-info .col-md-6:last-of-type {
    border-left: 2px solid #30bd94;
  }
}
@media(max-width:767px) {
  #courses-section .container:nth-of-type(2) {
    column-count: 1
  }
  .classes-info .col-md-6 {
    margin: 1.5em 0;
  }
}